#!/usr/bin/env bash

set -e
set -o pipefail

# NOTE: This script is structured like this (pulling another repo for the toolchain flake)
# because Nix devShells require copying the entire repo to the Nix store. Since this is a
# Godot projet, that would be a big oof. Instead, we clone a separate toolchain repo and
# copy that repo to the Nix store instead.

# shellcheck disable=2155
export GITROOT=$(git rev-parse --show-toplevel)

echo "@@@@@@@@@@@@@@@@@@@@@@@@@@@"
echo "@@ Pulling toolchain...  @@"
echo "@@@@@@@@@@@@@@@@@@@@@@@@@@@"

deps_path="$GITROOT/.direnv"
toolchain_dir="$deps_path/godot-toolchain"
if [ -d "$toolchain_dir" ]; then
  pushd "$toolchain_dir"
  git pull
  popd
else
  mkdir -p "$deps_path"
  pushd "$deps_path"
  git clone "git@github.com:mrjones2014/godot-toolchain.nix.git"
  popd
fi

if [ -f "./envrc/$(whoami)" ]; then
  echo "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"
  echo "@@ Using custom activation script at ./envrc/$(whoami)"
  echo "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"
  # shellcheck disable=1090
  source "./envrc/$(whoami)"
else
  echo "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"
  echo "@@ Using default activation script at ./envrc/envrc_default"
  echo "@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@"
  source "./envrc/envrc_default"
fi
